[package]
name = "cbn-tui"
version = "0.2.0"
edition = "2021"

[dependencies]
ratatui = "0.29.0"
crossterm = "0.28.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
tui-input = "^0.11"
directories = "6.0"
reqwest = { version = "0.12", features = ["blocking"] }
