[package]
name = "cbn-tui"
version = "0.2.0"
edition = "2024"

[dependencies]
cursive = { version = "0.21", default-features = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
directories = "6.0"
reqwest = { version = "0.13.1", features = ["blocking"] }
